# Required dependencies
# Manual installation: pip install -r requirements.txt
numpy>=1.23.5
matplotlib>=3.3.0
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
psutil # system utilization
polars
ultralytics-thop>=2.0.0 # FLOPs computation https://github.com/ultralytics/thop
hub-sdk>=0.0.12 # Ultralytics HUB
