# Required dependencies
# Manual installation: pip install -r requirements.txt
matplotlib>=3.3.0
Pillow>=7.1.2
PyYAML>=5.3.1
requests>=2.23.0
scipy>=1.4.1
tqdm>=4.64.0
psutil  # system utilization
py-cpuinfo  # display CPU info
pandas>=1.1.4
seaborn>=0.11.0
ultralytics-thop>=0.2.5 # FLOPs computation https://github.com/ultralytics/thop
hub-sdk>=0.0.5
