name: Test Build

on: [workflow_dispatch]

jobs:

  build_wheel:
    name: Build wheel
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install requirements
      run: |
        python -m pip install --upgrade pip
        pip install "setuptools>=67.8.0"
        pip install wheel build
    - name: Build .whl
      run: |
        python -m build --wheel --skip-dependency-check
    - name: Archive
      uses: actions/upload-artifact@v4
      with:
        name: dist_wheel
        path: dist/*.whl

  build_source:
    name: Build source
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install requirements
      run: |
        python -m pip install --upgrade pip
        pip install "setuptools>=67.8.0"
        pip install wheel build
    - name: Build .tar.gz
      run: |
        python -m build --sdist --skip-dependency-check
    - name: Archive
      uses: actions/upload-artifact@v4
      with:
        name: dist_source
        path: dist/*.tar.gz
